.movie-header-container {
    max-width: 1680px;
    padding: 0 15px 40px;
}

.movie-header {
    margin-top: 15px;
}

.movie-header-left {
    display: inline-block;
    vertical-align: top;
    max-width: 350px;
    min-width: 300px;
    figure {
        margin: 0;
        img {
            width: 100%;
        }
    }
    figcaption {
        display: none;
    }

}

.movie-header-right {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 380px);
    margin-left: 30px;

    h1 {
        margin: 0;
        line-height: 1;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
    }

    h3 {
        line-height: 1;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        margin-bottom: 5px;
    }
}

.movie-about {
    max-width: 600px;
    margin-top: 10px;
    & > div {
        margin-top: 20px;
    }
    &-info {
        margin-bottom: 2px;
        span {
            margin-left: 5px;
            color: #26a69a;
            font-weight: bold;
        }
        
    }
    &-description {
        max-width: 500px;
        padding-right: 15px;
    }
}

.movie {
    &-countries, &-ganres, &-companies {
        ul {
            display: flex;
        }
    }
    &-companies {
        ul {
            flex-wrap: wrap;
            li {
                display: flex;
                align-items: center;
                width: 33%;
                max-width: 300px;
                min-height: 100px;
                padding-right: 25px;
                div {
                    display: inline-block;
                    img {
                        width: 100%;
                        max-width: 80px;
                    }
                }
                span {
                    margin-left: 15px;
                }
            }
        }
    }
    &-info-detail {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        h1 {
            margin-top: 4px;
            max-width: 350px;
        }
        span {
            display: inline-block;
            margin-top: 5px;
            color: rgba(black, 0.6);
            font-weight: bold;
        }
    }
}

.movie-header-title {
    display: flex;
    position: relative;
}

.movie-rating {
    display: flex;
    &-votes {
        display: flex;
        align-items: center;
        padding: 0 5px;
        border: 1px solid black;
        border-radius: 6px;
        background: rgba(#26a69a, 0.4);

        &_text, &_count {
            line-height: 23px;
            padding: 0 5px;
        }
        &_text {
            border-right: 1px solid black;
            font-weight: 500;
        }
        &_count {
            font-weight: bold;
        }
    }
}

.movie-rating-circle {}
